* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  background-color: #35495e;
}
a {
  text-decoration: none;
}

h1 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}

h1 span {
  color: #42b883;
}

.main {
  max-width: 800px;
  margin: 0 auto;
}

.search-box {
  width: 100%;
  color: #fff;
  background-color: #496583;
  font-size: 20px;
  padding: 10px 16px;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: 0.4s;
  display: flex;
}

.search-box input {
  color: #fff;
  font-size: 16px;
  display: block;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  width: 100%;
  padding: 0 15px;
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.modal-container {
  position: relative;
  animation-name: zoom;
  animation-duration: 0.3s;
}

.modal-container img {
  display: block;
  /* border: solid 5px #2f6d5e; */
  border-radius: 8px;
  object-fit: contain;
  max-width: 90vw;
  max-height: 90vh;
  width: 100%;
}

.modal-container .close {
  position: absolute;
  top: -20px;
  right: 0px;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.search-box input::placeholder {
  color: #f3f3f3;
}

.btn {
  border: none;
  font-size: 14px;
  background: none;
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn--green {
  background-color: #42b883;
  border-radius: 20px;
  color: #fff;
  box-shadow: 0 6px #2f6d5e;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.btn--green:hover {
  box-shadow: 0 6px #2f6d5e;
  top: 0px;
}

.btn--green:active {
  box-shadow: 0 0 #3b8070;
  top: 6px;
}

.loading {
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
.loading div {
  position: absolute;
  background: #fff;
  opacity: 1;
  border-radius: 50%;
  animation: loading 1.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loading div:nth-child(2) {
  animation-delay: -0.7s;
}
@keyframes loading {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  /* smartphones screen portrait */
}
